In [5]:
import pandas as pd

In [7]:
brics=pd.read_csv("D:/Python/Intermediate Python/brics.csv",index_col=0)
brics.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [8]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [10]:
print(type(brics["country"]))

<class 'pandas.core.series.Series'>

In [11]:
brics[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [12]:
print(type(brics[["country"]]))

<class 'pandas.core.frame.DataFrame'>

In [14]:
#column access
brics[["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [15]:
#row access
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [17]:
#loc (label-based)
#iloc (integer position based)
brics.loc["RU"]

<class 'pandas.core.series.Series'>

In [19]:
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [20]:
print(type(brics.loc["RU"]))
print(type(brics.loc[["RU"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [22]:
brics.loc[["RU", "IN", "CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [23]:
#row and column loc
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [24]:
#all rows
brics.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [26]:
brics.iloc[1]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [27]:
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [28]:
brics.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [29]:
# row and column iloc
brics.iloc[[1,2,3], [0, 1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [30]:
brics.iloc[:, [0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [33]:
#select countries with area over 8 million km2
brics[brics["area"]>8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [35]:
import numpy as np
brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

In [36]:
#looping dataframes
for val in brics:
    print(val)

country
capital
area
population

In [37]:
for lab,row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [38]:
#selective print
for lab,row in brics.iterrows():
    print(lab+": "+row["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [39]:
#add columns
for lab,row in brics.iterrows():
    brics.loc[lab,"name_length"]=len(row["country"])

print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

In [45]:
#apply
brics["name_length1"]=brics["country"].apply(len)
print(brics)

         country    capital    area  population  name_length  name_length1
BR        Brazil   Brasilia   8.516      200.40          6.0             6
RU        Russia     Moscow  17.100      143.50          6.0             6
IN         India  New Delhi   3.286     1252.00          5.0             5
CH         China    Beijing   9.597     1357.00          5.0             5
SA  South Africa   Pretoria   1.221       52.98         12.0            12