<a href="https://colab.research.google.com/github/shrud8817/Python-Codes-Apps/blob/master/intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print statement -- comments
print(5/8)
print(7+10)

0.625
17

In [ ]:
# Addition, subtraction
print(5 + 5)
print(5 - 5)

# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

# How much is your $100 worth after 7 years with a 10% return?
print(100*1.1**7)

10
0
15
5.0
4
16
194.87171000000012

In [ ]:
# variables
# Create a variable savings - integer
savings = 100

# Create a variable growth_multiplier - float
growth_multiplier=1.1

# Calculate result
result=savings*growth_multiplier**7

# Print out result
print(result)

194.87171000000012

In [ ]:
# variable types 
# int, float, str , bool (True, False)
# Create a variable desc - str
desc="compound interest"

# Create a variable profitable - bool
profitable=True

In [ ]:
# type of a variable
print(type(desc))
print(type(result))

<class 'str'>
<class 'float'>

In [ ]:
# operation on str variables
doubledesc = desc+desc
print(doubledesc)

compound interestcompound interest

In [ ]:
# type conversion
# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [1]:
# python lists
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway",hall,"kitchen", kit, "living room", liv, "bedroom",bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [2]:
# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom",bed],
         ["bathroom",bath]]

# Print out house

print(house)
# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [3]:
# subsetting lists
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

In [4]:
# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area=areas[3]+areas[7]

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

In [5]:
#slicing and dicing
# Use slicing to create downstairs
downstairs=areas[0:6]

# Use slicing to create upstairs
upstairs=areas[6:]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [6]:
# manipulating lists
# Correct the bathroom area
areas[-1]=10.50

# Change "living room" to "chill zone"
areas[4]="chill zone"

In [7]:
# Add poolhouse data to areas, new list is areas_1
areas_1=areas+["poolhouse",'24.5']

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1+["garage","15.45"]

In [9]:
# inner working of lists
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = areas[:]

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)
print(areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]

In [ ]:
# functions